
/*----------------------------------------------------
        フッター
-----------------------------------------------------*/
#footer-wrapper {
  height: 205px;
  width: 886px;
  margin-right: auto;
  margin-left: auto;
  clear: both;
  line-height: 1.2;
  letter-spacing: 0;
  a{
    text-decoration: none;
    &:link {
      color: #306e96;
    }
    &:visited {
      color: #1144aa;
    }
    &:hover {
      color: #2d99df;
      text-decoration:underline;
    }
  }
}
#banner-box {
  background: url(#{$path-img}/footer_top_linegif.gif) repeat-x left top;
  height: 40px;
  width: 886px;
  margin-right: auto;
  margin-left: auto;
  padding-top:25px;
  box-sizing: content-box;
}

#banner-box .mark li {
  display: inline;
  margin-right: 10px;
  font-size: 1.3rem;
}

.mark li {
  background: url(#{$path-img}/mark_list.gif) no-repeat left 0.3em;
  padding-left: 15px;
}

#footer {
  background: url(#{$path-img}/fotter_bottom_line.gif) repeat-x left top;
  height: 100px;
  width: 886px;
  margin: 0 auto;
}

#footer {
  text-align: center;
}
#footer p {
  font-size:12px;
  padding-top:12px;
  &:last-child{
    font-size:10px;
    color:#B0B0B0;
  }
}