
/*----------------------------------------------------
        ヘッダー
-----------------------------------------------------*/
#header-wrapper {
  width: 100%;
  min-width:886px;
  background: url(#{$path-img}/bg_header.gif) repeat-x left top;
}

#header {
  height: 144px;
  width: 886px;
  margin-right: auto;
  margin-left: auto;
}

#header-logo {
  float: left;
  width: 600px;
  margin-top: 25px;
}
#header-nav {
  width: 260px;
  float: right;
  height: 95px;
}

#header-nav ul {
  font-size: 10px;
  /*padding-top: 1px;*/


}
#header-nav ul li {
  display: inline;
  padding-left: 15px;
  background: url(#{$path-img}/menu_mark.gif) no-repeat left center;
  margin-left: 10px;
}

#font-size {
  margin-top: 10px;
  height: 30px;
}
#font-size p {
  padding-left: 115px;
  height: 30px;
  float: left;
  padding-top: 5px;
  font-size: 12px;
}
#font-size div {
  background: url(#{$path-img}/bg_fontsize_box.gif) no-repeat right top;
  height: 30px;
  width: 80px;
  float: right;
}
#font-size ul li{
  list-style: none;
  background: none;
  margin: 0;
  padding: 0;
}

#font-size .fontsize_s,
#font-size .fontsize_m,
#font-size .fontsize_l {
  display: block;
  width: 21px;
  height: 21px;
  margin-top:4px;
  margin-left:3px;
  outline: 0;
  text-indent: -9999px;
  float: left;
}
#font-size .fontsize_s {
  margin-left:6px;
  _margin-left:3px;
  background: url(#{$path-img}/fontsize.png) no-repeat 0 -21px;
}
#font-size .fontsize_m {
  background: url(#{$path-img}/fontsize.png) no-repeat -21px 0;
}
#font-size .fontsize_l {
  background: url(#{$path-img}/fontsize.png) no-repeat -42px 0;
}
#font-size a:hover.fontsize_s,
#font-size a:hover.fontsize_m,
#font-size a:hover.fontsize_l {
  text-decoration: none; /* for Firefox1.0 */
}


/* ---- 検索ボックス ---- */

#serch-box {
  clear: both;
  padding-left: 55px;
  /*width: 200px;*/
  height: 24px;
  margin-top: 4px;
}
#serch-box #text {
  width: 130px;
  vertical-align:bottom;
}

#submit {
  margin-left: 4px;
  vertical-align:bottom;
}



/* ----グローバルナビ ---- */

#global-nav {
  clear: both;
  height: 48px;
  width: 881px;
  margin: 0 auto;
  padding: 0;
}

#global-nav li {
  display: inline;
  list-style: none;
}
#global-nav li a {
  background: url(#{$path-img}/global_nav.png?2) no-repeat left top;
  text-decoration: none;
  text-indent: -9999px;
  display: block;
  float:left;
  height: 48px;
  overflow:hidden;
}

#global-nav .menu_1 a {
  background-position: 0 0;
  width: 95px;
}
#global-nav .menu_2 a {
  background-position:  -95px 0;
  width: 98px;
}
#global-nav .menu_3 a {
  background-position:  -193px 0;
  width: 134px;
}
#global-nav .menu_4 a {
  background-position:  -327px 0;
  width: 123px;
}
#global-nav .menu_5 a {
  background-position:  -450px 0;
  width: 98px;
}
#global-nav .menu_6 a {
  background-position:  -548px 0;
  width: 135px;
}
#global-nav .menu_7 a {
  background-position:  -683px 0;
  width: 98px;
}

#global-nav .menu_8 a {
  background-position:  -781px 0;
  width: 100px;
}

#global-nav .menu_1 a:hover, #global-nav .menu_1 a.current { background-position:  0 -48px; }
#global-nav .menu_2 a:hover, #global-nav .menu_2 a.current { background-position:  -95px -48px; }
#global-nav .menu_3 a:hover, #global-nav .menu_3 a.current { background-position:  -193px -48px; }
#global-nav .menu_4 a:hover, #global-nav .menu_4 a.current { background-position:  -327px -48px; }
#global-nav .menu_5 a:hover, #global-nav .menu_5 a.current { background-position:  -450px -48px; }
#global-nav .menu_6 a:hover, #global-nav .menu_6 a.current { background-position:  -548px -48px; }
#global-nav .menu_7 a:hover, #global-nav .menu_7 a.current { background-position:  -683px -48px; }
#global-nav .menu_8 a:hover, #global-nav .menu_8 a.current { background-position:  -781px -48px; }

.page-top {
  width: 112px;
  margin-left: 760px;
}





