@charset "UTF-8";
/*============================================
      既存header
============================================*/

//.pc-only {
//  display: run-in !important;
//}
.sp-only {
  display: none !important;
}

/*============================================
      共通部分
============================================*/

main {
  width: 1024px;
  margin: 0 auto;
  padding: 15px 10px 60px;
  height: auto;
  overflow: hidden;
}

.main-contents {
  float: left;
  margin-top: 15px;
  width: 768px;
  height: auto;
}

.side-menu {
  float: right;
  margin-top: 15px;
  width: 218px;
}

.no-post {
  background: $bg-grey;
  border-radius: 4px;
  padding: 30px 10px;
  color: $c-darkgrey;
  text-align: center;
}
/*============================================
      ページトップ
============================================*/
#pageTop {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 50;
}

#pageTop a {
  background: $c-pink;
  color: $c-white;
  display: block;
  z-index: 999;
  padding: 12px 15px;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.2;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

#pageTop a::before {
  content: "▲";
  display: block;
  margin-bottom: 3px;
}

/*--------------------------コンテンツ・レイアウト*/
.l-cont {
  margin-top: 30px;
  &_title {
    margin-bottom: 10px;
  }
  &_aside{
    margin: 10px auto;
  }
  &_list{
    display: flex;
    flex-wrap: wrap;
    //border-bottom: 1px solid $c-grey;
    padding-bottom: 10px;
    counter-reset: ranking;
    li {
      flex: 0 1 50%;
      padding: 5px;
      > a {
        text-decoration: none;
      }
    }
  }
  &_sub{
    padding: 15px 5px;
  }
  &_more {
    border-top: 1px solid $c-grey;
    padding-top: 10px;
    text-align: right;
  }
  &_back {
    padding-top: 10px;
    text-align: left;
  }
  //OPT::PRカセット用
  &.-pr {
    margin: 0;
    border: 1px solid $c-grey;
    border-radius: 4px;
    padding: 5px 0;
    background: $bg-yellow;
    .l-cont + & {
      margin-top: 20px;
    }
    .l-cont_list {
      border-bottom: none;
      padding-bottom: 0;
      li {
        padding: 0 5px;
        &:first-child {
          border-right: 1px solid $c-grey;
        }
      }
    }
  }
  //OPT::最新記事カセット用
  &.-latest {
    .l-cont_list {
      flex-wrap: nowrap;
      //border-bottom: none;
      padding-bottom: 0;
      li {
        flex: 0 1 25%;
      }
    }
  }
  //OPT::レコメンドカセット用
  &.-recommend {
    .l-cont_list {
      flex-wrap: nowrap;
      //border-bottom: none;
      padding-bottom: 0;
      li {
        flex: 0 1 25%;
      }
    }
  }
  //OPT::最新記事カセット用
  &.-archive {
    .l-cont_list {
      display: block;
      border-top: 1px solid $c-grey;
      border-bottom: 1px solid $c-grey;
      padding-top: 0;
      li {
        padding: 10px 5px;
        & + li {
          border-top: 1px dashed $c-grey;
        }
      }
    }
  }
  &.-side {
    overflow: hidden;
    margin-top: 0;
    border: 1px solid $c-grey;
    border-radius: 6px;
    .l-cont_title {
      margin-bottom: 0;
    }
    .l-cont_list{
      display: block;
      //border-bottom: none;
      padding: 15px 5px 5px;
      li {
        padding: 0 0 10px;
      }
      li + li {
        border-top: 1px solid $c-grey;
        padding: 10px 0;
      }
    }
    .l-cont_more {
      padding: 10px 5px;
      text-align: right;
    }

  }
}
