
/*--------------------------ボタン*/
.btn {
  cursor: pointer;
  &.-more,
  &.-close{
    display: inline-block;
    padding-right: 15px;
    background: url(#{$path-img}/aside-latest_article_morebtn.jpg) no-repeat center right 0;
    font-size: 1.3rem;
    font-weight:700;
    line-height: 1.2;
  }
  &.-search{
    border-radius: 3px;
    height: 35px;
    width: 35px;
    background: $c-textlink url(#{$path-img}/search-icon.png) no-repeat top 9px left 10px;
    background-size: 16px;
    border: $c-textlink;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  }
  &.-goHome {
    position: relative;
    display: block;
    padding-left: 24px;
    font-size: 1.3rem;
    font-weight: 700;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 2px;
      background: url(#{$path-img}/aside-home-icon.png) no-repeat center center;
      width: 16px;
      height: 21px;
      transform: translateY(-50%);
    }
  }
  &.-mainLink {
    display: inline-block;
    border-radius: 50px;
    padding: 15px 40px;
    min-width: 400px;
    background: $c-pink;
    color: $c-white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
    @media screen and (max-width: 480px) {
      padding: 15px 20px;
      width: 100%;
      min-width: auto;
      line-height: 1.2;
    }
  }
  &.-selConsul {
    display: inline-block;
    border-radius: 50px;
    padding: 14px 30px;
    background: $c-pink;
    color: $c-white;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
    @media screen and (max-width: 480px) {
      width: 100%;
      line-height: 1.2;
      text-align: center;
    }

  }
  &.-subLink {
    display: inline-block;
    border: solid 1px $c-grey;
    border-radius: 50px;
    padding: 10px 40px;
    background: $c-white;
    color: $c-text;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
    @media screen and (max-width: 480px) {
      border: solid 1px $c-darkgrey;
      padding: 15px 10px;
      width: 100%;
      color: $c-textlink;
      font-size: 1.6rem;
      line-height: 1.2;
    }
  }
  &.-back {
    position: relative;
    display: inline-block;
    //padding-left: 24px;
    font-size: 1.3rem;
    font-weight: 700;

    &::before {
      content: "◀︎";
      display: inline-block;
      margin-right: 4px;
      transform: scale(0.8);
    }
  }
  &.-sns {
    display: inline-block;
    border-radius: 3px;
    min-width: 24px;
    height: 100%;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 1.2rem;
    line-height: 1.2;
    &.-hatebu {
      padding: 5px 10px 5px 30px;
      background: #02a4de url(#{$path-img}/sns-hateb-icon.png) no-repeat center left 10px;

    }
    &.-twitter{
      padding: 5px 10px 5px 30px;
      background: #1a95e0 url(#{$path-img}/sns-twitter-icon.png) no-repeat center left 10px;
    }
    &.-facebook {
      padding: 5px 10px 5px 30px;
      background: #4167b2 url(#{$path-img}/sns-facebook-icon.png) no-repeat center left 10px;
    }
  }
}
/*--------------------------フォーム*/
.form {
  &.-input{
    padding: 8px 5px;
    font-size: 1.5rem;
    width: 100%;
    border: 1px solid $c-darkgrey;
    border-radius: 3px;
    vertical-align: middle;
    box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.15) inset;
  }
}

.text {
  &.-strong {
    font-size: 1.2em;
  }
  &.-line {
    display: inline-block;
    position: relative;
    &::after {
      content: "";
      display: block;
      border-top: 2px $c-text solid;
      position: absolute;
      left: 0;
      bottom: 0.1em;
      width: 100%;
    }
  }
}
/*--------------------------ラベル*/
.label{
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1;
  text-align: center;
  font-weight: 700;
  vertical-align: middle;
  text-decoration: none;
  & + &{
    margin-left: 3px;
  }
  &.-full{
    width: 100%;
  }
  &.-cat{
    border-radius: 10px;
    padding: 4px 10px;
    color: $c-white;
    background: $c-darkgrey;
    &.-senior {background: $c-green;}
    &.-live {background: $c-pink;}
    &.-reform {background: $c-orange;}
    &.-money {background: $c-blue;}
    &.-event {background: $c-brown;}
    &.-news {background: $c-charcoal;}
    /*予備カテゴリ*/
    .cat-sample01 {background: $c-red;}
    .cat-sample02 {background: $c-purple;}
    .cat-sample03 {background: $c-lightgreen;}
    .cat-sample04 {background: $c-yellow;}
  }
  &.-tag, &.-pr {
    padding: 3px 8px;
    background: $c-white;
    font-weight: 700;
  }
  &.-tag{
    border: 1px solid $c-pink;
    color: $c-pink;
  }
  &.-pr{
    border: 1px solid $c-darkgrey;
    color: $c-darkgrey;
  }
  &.-side {
    font-size: 1.1rem;
    &.-cat {
      //border-radius: 2px;
      padding: 2px 4px;
      //background: $c-darkgrey;
    }
  }
}

/*--------------------------リスト*/
.list {
  &.--dot {
    padding-left: 1.5em;
    list-style: disc;
  }
  &_item {
    & + & {
      padding-top: 5px;
    }
  }
}
/*--------------------------タイトル*/
.title {
  line-height: 1.2;
  &.-page {
    font-size: 2.8rem;
    color: $c-green;
  }
  &.-single {
    font-size: 2rem;
    //font-weight: 400;
    color: $c-text;
  }
  &.-latest {
    color: $c-pink;
    font-size: 1.6rem;
    font-weight: bold;
    &::before {
      display: inline-block;
      content: "▶︎";
      transform: scale(0.8);
    }
    span {
      display: inline-block;
      font-weight: normal;
      margin-left: 15px;
      font-size: 1.4rem;
    }
  }

  &.-chapter {
    padding: 10px 10px 10px 30px;
    border-radius: 5px;
    background: $c-green;
    color: $c-white;
    position: relative;
    font-size: 1.8rem;
    font-weight: 700;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 15px;
      border-top: solid 1px rgba(255,255,255,0.3);
      width: calc(100% - 30px);
      z-index: 1;
    }
    span {
      position: relative;
      display: inline-block;
      padding: 0 10px;
      background: $c-green;
      z-index: 2;
    }
  }
  &.-section {
    padding-bottom: 4px;
    font-size: 1.8rem;
    border-bottom: 2px solid $c-green;
  }
  &.-recommend{
    border-left: 4px $c-charcoal solid;
    padding: 8px 5px;
    background: $bg-grey;
    font-size: 1.5rem;
    font-weight: 700;
    color: $c-charcoal;
    //text-align: center;
  }
  &.-sideMain {
    position: relative;
    padding: 10px 0;
    background: $c-green;
    font-size: 1.6rem;
    font-weight: 700;
    color: $c-white;
    text-align: center;
    span {
      position: relative;
      display: inline-block;
      padding: 0 10px;
      background: $c-green;
      z-index: 2;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 10px;
      border-top: solid 1px rgba(255,255,255,0.3);
      width: calc(100% - 20px);
      z-index: 1;
    }
  }
  &.-sideSub {
    padding: 5px 0;
    background: $bg-grey;
    font-size: 1.5rem;
    font-weight: 700;
    color: $c-charcoal;
    text-align: center;
  }
}

/*--------------------------記事用ナビゲーション*/
.gnav {
  width: 100%;
  padding: 14px 0 6px 0;
  background: url(#{$path-img}/gnav-head-bg.jpg) repeat-x;
  border-bottom: 3px solid $c-pink;
  ul {
    display: flex;
    align-items: center;
    width: 1024px;
    margin: 0 auto;
  }
  li {
    flex: 1 1 auto;
    border-right: 1px solid $c-grey;
    padding: 0 10px;
    text-align: center;
    &:first-child {
      border-left: 1px solid $c-grey;
    }
    &:hover {
      background: $bg-yellow;
    }
    a {
      color: $c-charcoal;
      padding: 5px 0;
      font-size: 1.3rem;
      font-weight: 700;
      display: inline-block;
      text-decoration: none;
      &::before {
        content: "▶︎";
        display: inline-block;
        margin-right: 4px;
        color: $c-pink;
        transform: scale(0.6);
      }
    }
  }
}
/*--------------------------パンくずリスト*/
.breadcrumb {
  li {
    display: inline-block;
    font-size: 1.2rem;
    & + li::before {
      content: ">";
      display: inline-block;
      margin: 0 5px;
    }
    a {
      font-weight: 700;
    }
  }
}
/*-------------------------リード文*/
.intro {
  margin-bottom: 20px;
  padding: 15px 10px;
  border-top: 2px solid $c-green;
  border-bottom: 2px solid $c-green;
  background: $bg-yellow;
  &_title {}
  &_text {
    margin-top: 5px;
  }
  &_label {
    margin-bottom: 10px;
  }
  //OPT::リード文内リンク
  &_link {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $c-grey;
    border-radius: 4px;
    margin-top: 15px;
    padding: 10px 10px;
    background: $c-white;
    &_item {
      flex: 0 1 25%;
      margin-bottom: 5px;
      border-right: 1px solid $c-grey;
      padding: 4px 5px;
      &:nth-child(n+5) {
        margin-bottom: 0;
      }
      &:nth-child(4n) {
        border-right: none;
      }
    }
    a {
      display: block;
      font-size: 1.2rem;
      line-height: 1.2;
      font-weight: 700;
      &::before{
        display: inline-block;
        content: "▶︎";
        margin-right: 2px;
        //font-size: 0.6rem;
        transform: scale(0.6);
        color: $c-pink;
        text-decoration: none;
      }
    }
  }
  &.-single {
    margin-bottom: 0;
  }
}
/*--------------------------一覧カセット*/
.cassette {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 5px;
  &:hover {
    opacity: 0.8;
  }
  &_img{
    flex: 0 0 80px;
    img {
      width: 80px;
      height: 80px;
      border: 1px solid $c-grey;
    }
  }
  &_detail{
    flex: 1 1 auto;
    padding: 5px 10px;
  }
  &_title{
    margin-top: 5px;
    font-size: 1.4rem;
    font-weight: 700;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &_text{
    margin-top: 4px;
    font-size: 1.4rem;
    color: $c-text;
  }
  &_label{
    text-decoration: none;
  }
  //OPT::広告記事カセット
  &.is-pr {
    background: $bg-yellow;
  }
  //OPT::縦並びカセット
  &.-vertical{
    display: block;
    .cassette_img{
      img {
        width: 175px;
        height: 100px;
      }
    }
    .cassette_detail{
      padding: 0;
    }
    .cassette_label{
      margin-top: 5px;
    }
    .cassette_title{
      font-size: 1.3rem;
    }
  }
  //OPT::一覧ページ系
  &.-archive {
    align-items: center;
    .cassette_img{
      flex: 0 0 110px;
      img {
        width: 110px;
        height: 110px;
      }
    }
    .cassette_label{
      margin-top: 5px;
    }
    .cassette_title{
      font-size: 1.7rem;
    }
  }
  //OPT::サイドメニュー最新記事
  &.-side {
    align-items: center;
    padding: 0;
    .cassette_img{
      flex: 0 0 64px;
      img {
        width: 64px;
        height: 64px;
      }
    }
    .cassette_title{
      margin-top: 0;
      padding-left: 5px;
      font-size: 1.2rem;
    }
  }
  &.-ranking {
    counter-increment: ranking;
    .cassette_img{
      position: relative;
      overflow: hidden;
      &::before {
        content: counter(ranking, decimal);
        display: block;
        position: absolute;
        top: 4px;
        left: -22px;
        width: 100%;
        background: $c-red;
        color: $c-white;
        font-size: 1rem;
        line-height: 1.2;
        font-weight: 700;
        text-align: center;
        transform: rotate(-45deg);
        box-shadow: 0 1px 1px rgba(0,0,0,0.25);
      }
    }
  }
}
/*--------------------------サイドバナー*/
.sideBanner {
  text-align: center;
  img {
    max-width: 100%;
  }
  &+& {
    margin-top: 10px;
  }
}


/*--------------------------object-fit_img*/
.object-fit_img {
  object-fit: cover;
  font-family: 'object-fit: cover;'
}
