/*============================================
      トップページ
============================================*/
.introGuideline {
  position: relative;
  border: solid 2px $c-brown;
  border-radius: 8px;
  &_title {
    position: relative;
    border-radius: 8px 8px 0 0;
    padding: 20px 60px 10px 10px;
    text-align: center;
    background: $bg-orange;
    img {
      max-width: 100%;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 165px;
      top: -15px;
      width: 91px;
      height: 43px;
      background: url("#{$path-img}/guideline/title_again.svg?2") no-repeat center center;
      background-size: 100% auto;
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 10px;
      bottom: -15px;
      width: 83px;
      height: 143px;
      background: url("#{$path-img}/guideline/title_illust.png") no-repeat center center;
      background-size: 100% auto;
    }
  }
  &_subTitle {
    display: inline-block;
    margin-top: 15px;
    border-radius: 20px;
    padding: 4px 15px;
    background: $c-brown;
    color: $c-white;
    line-height: 1;

  }
  &_body {
    padding: 20px;
  }
  &_problem {
    position: relative;
    padding-right: 270px;
    min-height: 220px;
    background: url("#{$path-img}/guideline/problem_illust.png") no-repeat top right 25px;
    background-size: auto 190px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 340px;
      width: 88px;
      height: 76px;
      background: url("#{$path-img}/guideline/problem_arrow.svg") no-repeat center center;
      background-size: 100% auto;
    }
    &_title {
      font-size: 1.6rem;
    }
    &_body {
      margin-top: 5px;
    }
  }
  &_purpose {
    padding: 5px 0 0;
    &_title {
      text-align: center;
      img {
        max-width: 100%;
      }
    }
    &_list {
      position: relative;
      margin: auto;
      padding-top: 20px;
      width: 600px;
      height: 190px;
      text-align: center;
    }
    &_item {
      position: absolute;
      padding-top: 120px;
      width: 130px;
      font-weight: 700;
      font-size: 1.3rem;
      line-height: 1.2;
      letter-spacing: 0;
      color: $c-brown;
      &:nth-child(1) {
        top: 15px;
        left: 0;
        background: url("#{$path-img}/guideline/purpose_01.svg") no-repeat center top;
        background-size: 100% auto;
      }
      &:nth-child(2) {
        top: 30px;
        left: 155px;
        background: url("#{$path-img}/guideline/purpose_02.svg") no-repeat center top;
        background-size: 100% auto;
      }
      &:nth-child(3) {
        top: 30px;
        right: 155px;
        background: url("#{$path-img}/guideline/purpose_03.svg") no-repeat center top;
        background-size: 100% auto;
      }
      &:nth-child(4) {
        top: 15px;
        right: 0;
        background: url("#{$path-img}/guideline/purpose_04.svg") no-repeat center top;
        background-size: 100% auto;
      }
    }
  }
  &_link {
    margin-top: 10px;
    text-align: center;

  }
  &_consul{
    position: relative;
    //overflow: hidden;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px 15px 25px;
    background-color:$bg-yellow;
    &::after {
      content: "";
      display: block;
      position: absolute;
      right: 5px;
      bottom: -8px;
      width: 90px;
      height: 86px;
      background: url("#{$path-img}/guideline/future_step1_illust.png") center center no-repeat;
      background-size: 100% auto;
    }
    @media screen and (max-width: 480px) {
      margin: 20px 0 0;
      padding: 20px 10px;
      &::after {
        display: none;
      }
    }
    &_title {
      font-size: 1.6rem;
      font-weight: 700;
      text-align: center;
      @media screen and (max-width: 480px) {
        line-height: 1.5;
      }
      &::before {
        content: "NEW";
        display: inline-block;
        margin-right: 8px;
        padding: 4px 6px;
        background: $c-red;
        color: $c-white;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1;
        @media screen and (max-width: 480px) {
          padding: 3px 5px;
          font-size: 1.1rem;
        }
      }
    }
    &_label {}
    &_btn {
      padding-top: 20px;
      text-align: center;
      @media screen and (max-width: 480px) {
        padding-top: 15px;
      }
    }
  }
  &_articles {
    border-radius: 4px;
    margin-top: 20px;
    padding: 15px;
    background: $bg-grey;
    &_title {
      padding-bottom: 5px;
    }
    &_body {
      padding-left: 10px;
      font-size: 1.4rem;
      font-weight: 700;
    }
  }
}

/*============================================
      一覧ページ
============================================*/
.listInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  &_count{}
  &_func{}
}
.pagination {
  display: flex;
  align-items: center;
  > li:not(&_func) {
    flex: 1 1 auto;
  }
  &_func{}
  &_num{
    display: flex;
    align-items: center;
    padding: 0 8px;
    li + li {
      padding-left: 5px;
    }
  }
  //ボタンスタイリング
  li {
    a, span {
      display: inline-block;
      border: 2px solid $c-textlink;
      border-radius: 2px;
      padding: 5px 10px;
      background: $c-white;
      color: $c-textlink;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    }
    &.is-active,
    &.is-disabled{
      a, span {
        pointer-events: none;
        cursor: default;
        box-shadow: none;
      }
    }
    &.is-active {
      a, span {
        border-color: $c-green;
        background: $c-green;
        color: $c-white;
      }
    }
    &.is-disabled {
      a, span {
        border-color: $c-grey;
        background: $c-grey;
        color: $c-white;
      }
    }
  }
}

/*============================================
      詳細ページ(.single-)
============================================*/
.single-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 10px;
  &_date {
    margin-right: 10px;
    color: $c-charcoal;
    font-size: 1.2rem;
  }
  &_sns {}
}

.single-reading {
  margin-top: 30px;
  &_img {
    border: 1px solid #dbdbdb;
    img {
      object-fit: cover;
      width: 100%;
      max-height: 300px;
      font-family: 'object-fit: cover;';
    }
  }
  &_text {
    margin-top: 20px;
    font-size: 1.6rem;
    line-height: 1.7;
  }
}

.single-toc {
  display: flex;
  border-top: 1px dashed $c-charcoal;
  border-bottom: 1px dashed $c-charcoal;
  margin-top: 20px;
  padding: 20px 0;
  background: $bg-grey;
  font-weight: 700;
  &_title{
    flex: 0 1 120px;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1rem;
  }
  &_data{
    flex: 1 1 auto;
  }
  &_list{
    font-size: 1.5rem;
    li {
      &::before {
        display: inline-block;
        content: "-";
        margin-right: 5px;
        font-weight: 400;
      }
      & + li {
        margin-top: 5px;
      }
    }
  }
}
.single-cont{
  margin-top: 40px;
  & + & {
    margin-top: 30px;
  }
  &_section {
    margin-top: 20px;
    & + & {
      margin-top: 30px;
    }
  }
  &_title{}
  &_text{
    margin-top: 15px;
    overflow: hidden;
    font-size: 1.6rem;
    line-height: 1.7;
  }
  &_img {
    display: block;
    margin-left: 5px;
    float: right;
    border: 1px solid $c-grey;
    img {
      width: auto;
      max-width: 350px;
      height: auto;
      max-height: 350px;
    }
    &.-full {
      display: block;
      float: none;
      background: $bg-grey;
      text-align: center;
      margin: 0 auto 15px;
      img {
        width: auto;
        max-width: 100%;
        max-height: 600px;
      }
    }
  }
  &_section:nth-child(2n) {
    .single-cont_img {
      float: left;
      margin-left: 0;
      margin-right: 10px;
      &.-full {
        float: none;
        margin: 0 auto 15px;
      }
    }
  }
}
.single-recommend {
  margin-top: 60px;
}

.single-catLinks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  background: $c-white;
  &_item {
    flex: 1 1 auto;
    margin-bottom: 5px;
    margin-right: 15px;
    padding: 4px 5px;
    &:nth-child(n+5) {
      margin-bottom: 0;
    }
  }
  &_link {
    display: block;
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 700;
    &::before{
      display: inline-block;
      content: "▶︎";
      margin-right: 2px;
      transform: scale(0.6);
      color: $c-pink;
      text-decoration: none;
    }
    &.is-current {
      color: $c-charcoal;
    }
  }
}

/*============================================
      未来図の描き方ページ(.howto-)
============================================*/
.guide-cont {
  border:$c-grey solid 1px;
  border-radius: 8px;
  @media screen and (max-width: 480px) {
    border: none;
    border-radius: 0;
  }
  &.-arrow {
    position: relative;
    margin-bottom: 90px;
    @media screen and (max-width: 480px) {
      margin-bottom: 70px;
    }
    &::before {
      content: url("#{$path-img}/guideline/guide_arrow.svg");
      display: block;
      position: absolute;
      z-index: 0;
      left: 50%;
      bottom: -90px;
      transform: translateX(-50%) scale(0.6);
      @media screen and (max-width: 480px) {
        bottom: -70px;
      }
    }
  }
  &_head {
    border-radius: 8px 8px 0 0;
    padding: 20px 30px;
    background: $bg-orange;
    @media screen and (max-width: 480px) {
      border-top: $c-brown solid 2px;
      border-bottom: $c-brown solid 2px;
      border-radius: 0;
      padding: 20px 10px;
    }
    &.-consul {
      position: relative;
      &::before{
        content: "";
        position: absolute;
        left: 15px;
        bottom: -15px;
        display: block;
        width: 155px;
        height: 125px;
        background: url("#{$path-img}/guideline/consul_title1.png") no-repeat center center;
        background-size: 100% auto;
      }
      &::after{
        content: "";
        position: absolute;
        right: 50px;
        bottom: 10px;
        display: block;
        width: 90px;
        height: 115px;
        background: url("#{$path-img}/guideline/consul_title2.png") no-repeat center center;
        background-size: 100% auto;
      }
      @media screen and (max-width: 480px) {
        &::before,&::after {display: none;}
      }
    }
  }
  &_title {
    margin-bottom: 5px;
    padding: 0 0 5px;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    @media screen and (max-width: 480px) {
      font-size: 2rem;
    }
    &.-label {
      position: relative;
      padding-top: 10px;
      @media screen and (max-width: 480px) {
        padding-top: 30px;
      }
      &::before {
        content: "かんたん！3STEP！";
        display: block;
        position: absolute;
        top: -10px;
        left: 0;
        border-radius: 30px;
        padding: 5px 15px;
        background: $c-pink;
        color: $c-white;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1;
        transform: rotate(-6deg);
        @media screen and (max-width: 480px) {
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
    @at-root .-consul & {
      margin-bottom: 0;
      padding: 0;
    }
  }
  &_readText {
    //border: $c-text 2px solid;
    border-radius: 2px;
    padding: 10px;
    background: $c-white;
    font-size: 1.4rem;
    &.-summary {
      position: relative;
      padding-right: 170px;
      //min-height: 125px;
      @media screen and (max-width: 480px) {
        padding-right: 10px;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: -5px;
        right: -35px;
        width: 208px;
        height: 155px;
        background: url("#{$path-img}/guideline/guide_summary_title.png") center center no-repeat;
        background-size: contain;
        @media screen and (max-width: 480px) {
          content: none;
        }
      }
    }
  }
  &_body {
    border-radius: 0 0 8px 8px;
    padding: 30px 20px;
    counter-reset: howto-step hairyo-num;
    background: $c-white;
    @media screen and (max-width: 480px) {
      padding: 30px 10px;
      //border-bottom:$c-brown solid 3px;
      border-radius: 0;
    }
  }
  &_link {
    margin-top: 5px;
    text-align: right;
    font-size: 1.4rem;
    font-weight: 700;
  }
  &_notes{
    font-size: 1.4rem;
    text-align: right;
  }
}
.guide-summary {
  margin-top: 30px;
  border: 2px $c-brown solid;
  border-radius: 8px;
  overflow: hidden;
  @media screen and (max-width: 480px) {
    margin: 30px 10px 0;
  }
  &.-back {
    margin-top: 10px;
    padding: 10px 0;
    border: none;
    @media screen and (max-width: 480px) {
      margin: 0 10px 0;
    }
  }
  &_mainBox {
    padding: 30px 20px;
    background-color:$bg-yellow;
    @media screen and (max-width: 480px) {
      padding: 20px 10px;
    }
    &.-summary {
      background-image:
              url("#{$path-img}/guideline/guide_summary_link.png"),
              url("#{$path-img}/guideline/guide_summary_link3.png");
      background-repeat: no-repeat, no-repeat;
      background-position: right top 0, left 10px bottom 0px;
      background-size: 140px auto, 100px auto;
      @media screen and (max-width: 480px) {
        background-image: none;
      }
    }
    &.-consul {
      background-image:
          url("#{$path-img}/guideline/consul_link.png"),
          url("#{$path-img}/guideline/consul_selCon.png");
      background-repeat: no-repeat, no-repeat;
      background-position: right 4px bottom 4px, left 10px bottom 7px;
      background-size: 150px auto, 150px auto;
      @media screen and (max-width: 480px) {
        background-image:
            url("#{$path-img}/guideline/consul_selCon.png");
        background-repeat: no-repeat;
        background-position: center bottom 88px;
        background-size: 175px auto;
        .guide-summary_btn {padding-top: 155px;}
      }

    }
    &.-cv {
      background-image:
              url("#{$path-img}/guideline/guide_summary_cv2.png"),
              url("#{$path-img}/guideline/guide_summary_cv.png");
      background-repeat: no-repeat, no-repeat;
      background-position: left 5px center, right 10px bottom 5px;
      background-size: 180px auto, 150px auto;
      @media screen and (max-width: 480px) {
        background-image: none;
      }
    }
  }
  &_optBox {
    border-bottom: $c-grey dashed 1px;
    padding: 20px;
    background: $c-white;
    @media screen and (max-width: 480px) {
      padding: 20px 10px;
    }
  }
  &_title {
    //margin-bottom: 10px;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    @media screen and (max-width: 480px) {
      font-size: 2rem;
      line-height: 1.4;
    }
  }
  &_subTitle {
    //margin-bottom: 5px;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    @media screen and (max-width: 480px) {
      line-height: 1.4;
    }
  }
  &_btn {
    padding-top: 15px;
    text-align: center;
    @media screen and (max-width: 480px) {
      padding-top: 20px;
    }
  }
  &_text {
    padding-top: 10px;
    text-align: center;
    @media screen and (max-width: 480px) {
      padding-top: 10px;
    }
  }
}
// --------------------------サマリ
.summary-merit {
  position: relative;
  margin-bottom: 30px;
  padding: 20px 10px;
  background: $bg-yellow;
  &::after {
    position: absolute;
    top: 0;
    right: -10px;
    content: "";
    display: block;
    width: 75px;
    height: 120px;
    background: url("#{$path-img}/guideline/guide_summary_merit.png") no-repeat center center;
    background-size: contain;
    @media screen and (max-width: 480px) {
      top: -25px;
      right: -15px;
      width: 100px;
      height: 140px;
    }
  }
  &_title {
    padding-top: 10px;
    padding-bottom: 30px;
    color: $c-pink;
    font-size: 2.2rem;
    text-align: center;
    @media screen and (max-width: 480px) {
      padding-top: 0;
      padding-bottom: 20px;
      padding-left: 10px;
      text-align: left;
    }
    > span {
      display: inline-block;
      //border-top: 2px solid $c-pink;
      border-bottom: 2px solid $c-pink;
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
  }
  &_list {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    //width: 100%;
    @media screen and (max-width: 480px) {
      display: block;
    }
  }
  &_merit {
    padding: 10px;
    flex: 0 0 32.5%;
    border: $c-grey 1px solid;
    border-radius: 8px;
    max-width: 32.5%;
    background: $c-white;
    @media screen and (max-width: 480px) {
      padding: 15px;
      max-width: none;
      &+& {
        margin-top: 10px;
      }
    }
    &_title {
      padding: 10px 0;
      font-size: 1.8rem;
      font-weight: 700;
      text-align: center;
      @media screen and (max-width: 480px) {
        padding-top: 0;
        padding-bottom: 10px;
      }
    }
    &_text {
      font-size: 1.4rem;
    }
  }
}
.summary-cont {
  &+& {
    margin-top: 20px;
  }
  &_title {
    border-bottom: 1px solid $c-text;
    padding-bottom: 2px;
    font-size: 1.8rem;
    font-weight: 700;
  }
  &_body {
    padding: 10px;
    @media screen and (max-width: 480px) {
      padding: 10px 0;
    }
  }
  &_text {
    font-size: 1.4rem;
  }
  &_safeList {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    //width: 100%;
    @media screen and (max-width: 480px) {
      display: block;
    }
  }
  &_safeImage {
    flex: 0 0 50%;
    padding-left: 120px;
    max-width: 50%;
    height: 130px;
    @media screen and (max-width: 480px) {
      padding-top: 15px;
      padding-bottom: 15px;
      max-width: none;
      height: auto;
      min-height: 110px;
      &+& {
        //margin-top: 10px;
        border-top: $c-grey solid 1px;
      }
    }
    &.-health {
      background: url("#{$path-img}/guideline/purpose_01.svg") no-repeat left 10px center;
      background-size: 100px auto;
    }
    &.-independence {
      background: url("#{$path-img}/guideline/purpose_02.svg") no-repeat left 10px center;
      background-size: 100px auto;
    }
    &.-future {
      background: url("#{$path-img}/guideline/purpose_03.svg") no-repeat left 10px center;
      background-size: 100px auto;
    }
    &.-care {
      background: url("#{$path-img}/guideline/purpose_04.svg") no-repeat left 10px center;
      background-size: 100px auto;
    }
    &_title {
      font-weight: 700;
    }
    &_text {
      font-size: 1.4rem;
    }
  }
}

// --------------------------相談導線
.consul-subTitle {
  margin-bottom: 10px;
  text-align: center;
  @media screen and (max-width: 480px) {
    margin-bottom: 5px;
  }
  > span {
    display: inline-block;
    border-radius: 20px;
    padding: 4px 35px;
    background: $c-pink;
    color: $c-white;
    line-height: 1;
  }
}
.consul-offer {
  position: absolute;
  bottom: -20px;
  right: 10px;
  font-size: 12px;
  @media screen and (max-width: 480px) {
    display: none;
  }
}
.consul-intro {
  margin: 10px 0 40px;
  &_title {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: $c-brown;
  }
  &_body {
    text-align: center;
    img {
      margin-left: 30px;
      width: 589px;
      @media screen and (max-width: 480px) {
        margin-left: 0;
        width: 100%;
      }
    }
  }
}
.consul-advice {
  margin-top: 20px;
  padding: 15px 25px;
  background: $bg-yellow;
  &_title {
    margin-bottom: 5px;
    font-size: 18px;
  }
  &_text {
    margin-bottom: 10px;
  }
  &_textlink {
    display: inline-block;
    margin-top: 10px;
    font-size: 12px;
  }
}
// 相談予約の３つの特徴
.consul-specials {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 100%;
  @media screen and (max-width: 480px) {
    display: block;
  }
  &_item {
    flex: 0 0 32.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $c-grey 1px solid;
    border-radius: 4px;
    background: $c-white;
    height: 103px;
    @media screen and (max-width: 480px) {
      border: $c-grey 2px solid;
      padding: 10px;
      height: auto;
      & + & {
        margin-top: 10px;
      }
    }
  }
  &_text {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: $c-green;
    text-align: center;
    line-height: 1.4;
  }
}
// 相談員選択:コンテンツWrapper
.consul-selConsul {
  border: 2px $c-brown solid;
  border-radius: 8px;
  background: $c-white;
  @media screen and (max-width: 480px) {
    margin: 30px 10px 0;
  }
  &_head {
    position: relative;
    border-bottom: $c-grey dashed 1px;
    border-radius: 8px 8px 0 0;
    padding: 20px;
    background-color:$bg-yellow;
    @media screen and (max-width: 480px) {
      padding: 90px 10px 20px;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -28px;
      left: 10px;
      width: 169px;
      height: 125px;
      background: url("#{$path-img}/guideline/consul_selCon.png") no-repeat center center;
      background-size: 100% auto;
      @media screen and (max-width: 480px) {
        top: -43px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  &_title{
    margin-left: 170px;
    font-size: 25px;
    line-height: 1.3;
    @media screen and (max-width: 480px) {
      margin-left: 0;
      font-size: 6.3vmin;
      text-align: center;
    }
  }
  &_body{
    padding: 20px;
    @media screen and (max-width: 480px) {
      padding: 20px 15px;
    }
  }
}

// 相談員選択:相談の流れ
.consul-flow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 100%;
  height: 74px;
  background: url("#{$path-img}/guideline/consul_flow_bg.svg") no-repeat center center;
  background-size: 100% auto;
  @media screen and (max-width: 480px) {
    position: relative;
    display: block;
    margin: 15px auto 0;
    max-width: 330px;
    height: 235px;
    background: url("#{$path-img}/guideline/consul_flow_bg-sp.svg") no-repeat center center;background-size: 100% auto;
    //background-size: 100% auto;
  }
  &_item {
    padding-left: 42px;
    color: #4d8cad;
    font-size: 15px;
    font-weight: 700;
    &:nth-child(1) {flex: 0 0 36%;}
    &:nth-child(2) {flex: 0 0 35%;}
    &:nth-child(3) {flex: 0 0 29%;}
    @media screen and (max-width: 480px) {
      position: absolute;
      left: 0;
      padding-left: 0;
      width: 100%;
      text-align: center;
      font-size: 16px;
      &:nth-child(1) {top: 18px;}
      &:nth-child(2) {top: 98px;}
      &:nth-child(3) {top: 185px;}
    }
  }
}
// 相談員選択:相談員の情報
.consul-person {
  display: flex;
  margin-bottom: 20px;
  border-bottom: $c-grey dashed 1px;
  padding-bottom: 20px;
  width: 100%;
  font-size: 14px;
  @media screen and (max-width: 480px) {
    position: relative;
    display: block;
    margin-bottom: 30px;
    border-bottom: $c-grey dashed 2px;
    padding-bottom: 30px;
  }
  &:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
  }
  &_img{
    flex: 0 0 120px;
    padding-right: 10px;
    @media screen and (max-width: 480px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 110px;
    }
    > img {
      width: 100%;
    }
  }
  &_detail{
    flex: 0 1 auto;
  }
  &_profile{
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    width: 100%;
    @media screen and (max-width: 480px) {
      display: block;
      padding-left: 110px;
      min-height: 140px;
    }
  }
  &_name{
    flex: 0 0 auto;
    padding-top: 0.5em;
    margin-right: 5px;
    font-size: 20px;
    &_ruby {
      position: relative;
      &::before {
        content: attr(data-ruby);
        position: absolute;
        top: -1.5em;
        left: 50%;
        transform: translateX(-50%);
        font-size: 0.5em;
        white-space: nowrap;
      }
    }
  }
  &_com{
    flex: 0 1 auto;
    font-weight: 700;
    @media screen and (max-width: 480px) {
      margin: 4px auto;
      width: 100%;
      font-size: 12px;
    }
  }
  &_part{
    flex: 0 0 100%;
    color: $c-charcoal;
    font-size: 12px;
  }
  &_textBox{
    position: relative;
    margin-top: 15px;
    @media screen and (max-width: 480px) {
      margin-top: 28px;
    }
    &_title{
      display: inline-block;
      border-radius: 1px;
      padding: 4px 10px;
      background: $c-green;
      color: $c-white;
      font-size: 12px;
      line-height: 1.1;
      font-weight: 700;
      @media screen and (max-width: 480px) {
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 20px;
        font-size: 14px;
        white-space: nowrap;
        transition: all 300ms ease;
        z-index: 10;
        &.is-spLink {
          background: transparent;
          color: $c-textlink;
          text-decoration: underline;
          &::before,&::after {
            content: "▼";
            display: inline-block;
          }
          &::before {margin-right: 5px;}
          &::after {margin-left: 5px;}
        }
      }
    }
    &_data{
      margin-top: 8px;
      @media screen and (max-width: 480px) {
        padding: 25px 15px 15px;
        max-height: 1000px;
        opacity: 1;
        background: $bg-grey;
        transition: all 350ms 200ms ease;
        @at-root .is-spLink + & {
          overflow: hidden;
          padding: 10px 15px;
          max-height: 0;
          opacity: 0;
        }
      }
    }
  }
  &_possible{
    padding-left: 1.4em;
    list-style: disc;
    font-size: 14px;
    font-weight: 700;
    > li {padding-bottom: 2px}
  }
  &_message{
    &_title{
      font-size: 15px;
      font-weight: 700;
    }
    &_text{
      margin-top: 5px;
      @media screen and (max-width: 480px) {
        margin-top: 10px;
      }
    }
  }
  &_btn {
    margin-top: 10px;
    text-align: right;
    @media screen and (max-width: 480px) {
      margin-top: 20px;
    }
  }
}

.hairyo-toc {
  //border: 2px $c-darkgrey dashed;
  position: relative;
  margin-top: 15px;
  border-radius: 4px;
  padding: 10px 40px;
  background: $c-white;
  @media screen and (max-width: 480px) {
    padding: 10px 20px;
  }
  &::after {
    position: absolute;
    bottom: -10px;
    right: -15px;
    content: "";
    display: block;
    width: 110px;
    height: 150px;
    background: url("#{$path-img}/guideline/hairyo_title_illust.png") no-repeat center center;
    background-size: contain;
    @media screen and (max-width: 480px) {
      bottom: -20px;
      right: -30px;
    }
  }
  &_title {
    padding-bottom: 10px;
    font-size: 2rem;
    text-align: center;
  }
  &_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @media screen and (max-width: 480px) {
      display: block;
    }
  }
  &_item {
    flex: 0 0 50%;
    padding: 4px 0;
    font-size: 1.4rem;
    font-weight: 700;
    @media screen and (max-width: 480px) {
      padding: 6px 0;
    }
  }

}
.hairyo-cont {
  &+& {
    margin-top: 30px;
  }
  &_title {
    border-bottom: 1px solid $c-text;
    padding-bottom: 2px;
    font-size: 2.2rem;
    font-weight: 700;
    @media screen and (max-width: 480px) {
      border-bottom: none;
      border-radius: 4px;
      padding: 8px 10px;
      background: $c-green;
      color: $c-white;
      font-size: 2rem;
      line-height: 1.2;
    }
    &::before {
      counter-increment:hairyo-num;
      content:counter(hairyo-num)".";
      display: inline-block;
      margin-right: 8px;
      font-size: 1.3em;
      font-weight: 400;
      @media screen and (max-width: 480px) {
        font-size: 1em;
        font-weight: 700;
      }
    }
    &.-small {
      font-size: 1.8rem;
      &::before {
        font-size: 1em;
        font-weight: 700;
      }
    }
  }
  &_body {
    padding: 10px;
    @media screen and (max-width: 480px) {
      padding: 10px 0;
    }
  }
  &_text {
    font-size: 1.5rem;
  }
}
.hairyo-point {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
  width: 100%;
  @media screen and (max-width: 480px) {
    display: block;
    margin-top: 10px;
    padding: 15px 10px;
    background: $bg-grey;
  }
  &_title {
    flex: 0 0 100%;
    @media screen and (max-width: 480px) {
      padding-bottom: 5px;
      text-align: center;
    }
    > span {
      display: inline-block;
      padding: 4px 15px;
      background: $c-brown;
      color: $c-white;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1;
    }
  }
  &_list {
    flex: 1 0 60%;
    margin-top: 5px;
  }
  &_item {
    display: flex;
    align-items: normal;
    padding-top: 2px;
    font-size: 1.4rem;
    font-weight: 700;
    @media screen and (max-width: 480px) {
      padding: 2px 0;
      font-size: 1.4rem;
    }
    > span {
      padding-right: 0.3em;
    }
  }
  &_btn {
    flex: 0 0 auto;
    padding-left: 15px;
    text-align: right;
    @media screen and (max-width: 480px) {
      padding-top: 10px;
      padding-left: 0;
      text-align: center;
    }
  }
}
.hairyo-effect {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 10px 15px;
  background: $bg-yellow;
  width: 100%;
  @media screen and (max-width: 480px) {
    display: block;
    padding: 15px 10px;
  }
  &_title {
    flex: 0 0 100px;
    padding-left: 10px;
    color: $c-pink;
    font-size: 1.8rem;
    text-align: left;
    @media screen and (max-width: 480px) {
      padding-left: 0;
      padding-bottom: 5px;
      text-align: center;
    }
  }
  &_list {
    flex: 1 0 auto;
  }
  &_item {
    display: flex;
    align-items: normal;
    padding: 2px 0;
    font-weight: 700;
    @media screen and (max-width: 480px) {
      padding: 4px 0;
    }
    > span {
      padding-right: 0.3em;
    }
  }
}


.howto-step {
  & + & {
    margin-top: 30px;
    @media screen and (max-width: 480px) {
      margin-top: 40px;
    }
  }
  &_title{
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    @media screen and (max-width: 480px) {
      line-height: 1.2;
    }
    &::before {
      counter-increment:howto-step;
      content:"STEP"counter(howto-step);
      display: inline-block;
      border-radius: 4px;
      margin-right: 10px;
      padding: 5px 8px;
      background: $c-blue;
      color: $c-white;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1;

    }
  }
  &_text{
    @media screen and (max-width: 480px) {
      //font-size: 1.6rem;
    }
    &.-illust {
      position: relative;
      padding-right: 210px;
      min-height: 150px;
      @media screen and (max-width: 480px) {
        padding-right: 0;
        min-height: auto;
      }
      &::after {
        position: absolute;
        bottom: -10px;
        right: -15px;
        content: "";
        display: block;
        width: 220px;
        height: 220px;
        background: url("#{$path-img}/guideline/future_step1_illust.png") no-repeat center center;
        background-size: auto 100%;
        @media screen and (max-width: 480px) {
          content: none;
        }
      }
    }
  }
  &_btn {
    display: block;
    padding-top: 15px;
    width: 100%;
    text-align: center;
    @media screen and (max-width: 480px) {
      padding-top: 20px;
    }
  }
}
.howto-point {
  margin: 20px auto 10px;
  border: 2px $c-darkgrey dashed;
  border-radius: 10px;
  padding: 10px 15px;
  @media screen and (max-width: 480px) {
    border: 2px $c-brown dashed;
    border-radius: 5px;
    margin: 30px auto 20px;
  }
  &_title {
    @media screen and (max-width: 480px) {
      padding-bottom: 10px;
      color: $c-brown;
      text-align: center;
      font-size: 1.8rem;
    }
  }
  &_body {
    padding-left: 50%;
    background: url("#{$path-img}/guideline/future_point.png?20200310") no-repeat left center;
    background-size: 330px auto;
    @media screen and (max-width: 480px) {
      padding-left: 0;
      padding-top: 220px;
      background: url("#{$path-img}/guideline/future_point.png?20200310") no-repeat center top;
      background-size: auto 224px;
    }
  }
  &_point {
    & + & {
      margin-top: 10px;
    }
    &_title {
      font-weight: 700;
      @media screen and (max-width: 480px) {
        font-size: 1.8rem;
      }
    }
    &_text {
      font-size: 1.4rem;
    }
  }
}
.guide-arrowText {
  position: relative;
  margin-top: 30px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  z-index: 2;
}
.howto-CV {}
