
/*--------------------------検索窓*/
.searchForm{
  display: flex;
  li {
    flex: 0 1 auto;
    & + li {
      padding-left: 5px;
    }
  }
}
/*--------------------------サイドカテゴリリンク*/
.sideNav {
  &_item {
    //display: flex;
    //justify-content: space-between;
    padding-bottom: 10px;
    & + li {
      border-top: 1px solid #e3e3e3;
      padding-top: 10px;
    }
    a{
      position: relative;
      display: block;
      padding-left: 24px;
      font-size: 1.3rem;
      font-weight: 700;
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 4px;
        width: 12px;
        height: 12px;
        background: $c-grey;
        transform: translateY(-50%);
      }
    }
    &.-senior a::before {background: $c-green;}
    &.-live a::before {background: $c-pink;}
    &.-reform a::before {background: $c-orange;}
    &.-money a::before {background: $c-blue;}
    &.-event a::before {background: $c-brown;}
    &.-news a::before {background: $c-charcoal;}

  }
}