
html {
  font-family: sans-serif;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
body {
  //position: relative;
  min-height: 100vh;
  font-size: 1.5rem;
  color: $c-text;
  line-height: 1.5;
  letter-spacing: 0.4px;
}
img {
  vertical-align: bottom;
}
a {
  color: $c-textlink;
  &:hover{
    text-decoration: none;
  }
  &:visited {
    color: $c-textlink;
  }
}
