$path-img :"../images";

$c-text: #343434;
$c-textlink: #306edf;
$c-white:#ffffff;
$c-green: #3c8e18;
$c-pink: #e55eb2;
$c-orange: #EA7E10;
$c-blue: #3F789D;
$c-brown: #9A623D;
$c-charcoal: #696969;
$c-red: #D93D3D;
$c-purple: #6657A2;
$c-lightgreen: #79BA20;
$c-yellow: #E2BF00;
$c-grey:#dedede;
$c-darkgrey: #9c9c9c;
$bg-yellow:#FFFCEA;
$bg-grey:#efefef;
$bg-orange:#FDE3C8;
$bg-brown:#F6F1E6;
