
/*----------------------------------------------------
        フッター
-----------------------------------------------------*/
#footer-wrapper {
  height: auto;
  width: 100%;
}

#footer {
  //border-top: 2px solid $c-pink;
  //padding-top: 15px;
  background: none;
  height: auto;
  width: auto;
}

#footer p {
  font-size:1.5rem;
  padding-top:0;
  &:last-child{
    margin-top: 15px;
    padding: 10px 0;
    background: $c-pink;
    //font-size:1.2rem;
    color:$c-white;
    text-align: center;
  }
}

