/*============================================
      既存header
============================================*/

#header-wrapper {
  min-width: 100%;
  background: $c-white;
  height: 62px;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  display: flex;
  border-bottom: 1px solid $c-darkgrey;
  padding: 10px;
  width: 100%;
  height: 62px;
  background: $c-white;
}
#header-logo {
  float: none;
  margin: 0;
  width: 220px;
  height: auto;
  img {
    width: 100%;
    height: auto;
  }
}

/*⬇︎SP用ボタン*/
