


/*============================================
      共通部分
============================================*/
.sp-only {
  display: block !important;
}
.pc-only {
  display: none !important;
}

body {
  //font-size: 1.5rem;
  //line-height: 1.6;

}

main {
  width: 100%;
  padding: 0;
  //z-index: 1;
}

.main-contents {
  position: relative;
  float: none;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 80px;
}
.side-menu {
  position: fixed;
  left: 0;
  //bottom: 0;
  //right: 0;
  float: none;
  margin-top: 0;
  padding: 0;
  width: 100%;
  max-height: 100vh;
  background: #fff;
  overflow-y: auto;
  //display: none;
  z-index: 80;
}
.side-menu{
  background: $c-grey;
  //opacity: 0;
  top: -100vh;
  transition: all 300ms linear;
  &.is-show {
    background: $c-white;
    //opacity: 1;
    top: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    transition: all 400ms linear;
  }

}

/*============================================
      ページトップ
============================================*/
#pageTop {
  //position: fixed;
  bottom: 24px;
  right: 10px;
}



.l-cont {
  &_list{
    display: block;
    padding: 0 10px;
    //flex-wrap: wrap;
    //border-bottom: 1px solid $c-grey;
    //padding-bottom: 10px;
    li {
      //flex: 0 1 50%;
      padding: 5px 0;
      & + li {
        border-top: 1px solid $c-grey;
      }
    }
  }
  &_sub{
    padding: 15px 10px;
  }
  &_more {
    padding: 15px 10px 0;
    text-align: right;
  }
  &_text,
  &_back {
    padding-right: 10px;
    padding-left: 10px;
  }
  //OPT::PRカセット用
  &.-pr {
    margin: 20px 10px 0;
    //border: 1px solid $c-grey;
    //border-radius: 4px;
    padding: 0;
    //background: $bg-yellow;
    .l-cont_list {
      padding: 0 10px;
      li{
        padding: 5px 0;
        &:first-child {
          border-right: none;
        }
      }
    }
  }
  //OPT::最新記事カセット用
  &.-latest {
    position: relative;
    margin: 30px 10px 0;
    border: 2px solid $c-pink;
    border-radius: 10px;
    padding: 15px 0 20px;
    .l-cont_title {
      position: absolute;
      top: -15px;
      left: 10px;
      margin-bottom: 0;
      padding: 0 5px;
      background: $c-white;
    }
    .l-cont_list {
      border-bottom: 1px solid $c-grey;
      padding: 0 10px;
      li {
        padding: 5px 0;
      }
    }
    .l-cont_more {
      border-top: none;
    }
  }

  //OPT::レコメンドカセット用
  &.-recommend {
    position: relative;
    margin: 20px 0 0;
    padding: 15px 0 20px;
    .l-cont_list {
      border-bottom: 1px solid $c-grey;
      padding: 0 10px;
      li {
        padding: 5px 0;
      }
    }
    .l-cont_more {
      border-top: none;
    }
  }
  //OPT::最新記事カセット用
  &.-archive {
    .l-cont_list {
      //padding: 0 5px;
      //display: block;
      border-top: none;
      border-bottom: none;
      //padding-top: 0;
      li {
        padding: 10px 0;
        //& + li {
        //  border-top: 1px dashed $c-grey;
        //}
      }
    }
  }
  &.-side {
    border: none;
    padding-bottom: 30px;
    border-radius: 0;
    .l-cont_title {
      margin-bottom: 0;
    }
    .l-cont_list{
      display: block;
      //border-bottom: none;
      padding: 15px 5px 5px;
      li {
        padding: 0 0 10px;
      }
      li + li {
        border-top: 1px solid $c-grey;
        padding: 10px 0;
      }
    }
    .l-cont_foot {
      border-top: 1px solid $c-grey;
      padding: 15px 10px 0;
    }

  }
}
///*============================================
//      共通カセット
//============================================*/
//.top-article {
//  margin: 40px auto 0;
//}
//
//.top-article-inner {
//  border: none;
//  padding: 0;
//  margin: 0 auto;
//}
//
//.top-article-title {
//  border-radius: 0;
//  margin: 0 auto 30px;
//  padding: 10px;
//}
//
//.top-article-title::after {
//  display: none;
//}
//
//.top-article-title span {
//  padding: 3px 5px 3px 5px;
//  border-left: 8px solid #fff;
//}
//
//.top-article-list {
//  width: 100%;
//}
//
//.pr-area-inner .top-article-list:first-child {
//  border-right: none;
//}
//
//.top-article-list {
//  padding: 10px;
//  border-bottom: 1px solid #ccc;
//}
//
//.top-article-list-txt dt {
//  margin: 0 auto 5px;
//}
//
//.top-article-list-image {
//
//}
//
//.top-article-list-txt {
//  padding: 3px 0;
//}
//
//.top-article-more {
//  float: none;
//  width: calc(100% - 20px);
//  margin: 0 auto;
//}
//
//.top-article-more::before {
//  display: none;
//}
//
//.top-article-more a {
//  display: block;
//  padding: 10px;
//  text-align: center;
//  border: 1px solid #707070;
//  border-radius: 5px;
//  margin: 10px auto 0;
//  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
//  background: none;
//}
///*============================================
//      トップページ maincontents
//============================================*/
//
//.top-pr-area {
//  padding: 0 10px;
//  width: calc(100% - 20px);
//}
//
//.pr-area-inner {
//  padding: 0;
//}
//
//.article-list-pr:last-child {
//  border-bottom: none;
//}
//.top-lead-area {
//  padding: 15px 20px;
//  margin: 0 auto 30px;
//}
//
//.top-lead-area-title {
//  font-size: 2.0rem;
//  margin: 0 auto 15px;
//}
//
//.top-lead-area-link {
//  padding: 10px;
//}
//
//.top-lead-area-link li {
//  display: inherit;
//  width: 100%;
//  border: none;
//  margin: 0 auto 5px;
//}
//
//.top-lead-area-link li:nth-child(n+5) {
//  margin: 0 auto 5px;
//}
//
//.top-lead-area-link li:last-child {
//  margin: 0 auto;
//}
//.latest_article {
//  position: relative;
//  padding: 0 10px;
//}
//
//.latest_article-title {
//  position: absolute;
//  height: auto;
//  overflow: hidden;
//  background: #fff;
//  top: -10px;
//  left: 20px;
//  letter-spacing: 2px;
//  padding: 0 10px;
//}
//
//.latest_article-title::before {
//  display: none;
//}
//
//.latest_article-title span {
//  display: none;
//}
//
//.latest_article-inner {
//  border: 2px solid #d83e8f;
//  border-radius: 8px;
//  padding: 20px 10px 10px;
//}
//
//.latest_article-list {
//  width: 100%;
//  display: inherit;
//  text-align: left;
//  border-bottom: 1px solid #ccc;
//  padding: 15px 0;
//}
//
//.latest_article-list:first-child {
//  padding: 0 0 15px 0;
//}
//
//.latest_article-inner article:last-child {
//  border: none;
//  padding: 15px 0 0 0;
//}
//
//.latest_article-list-image {
//  float: left;
//  margin: 0 15px 0 0;
//  width: 80px;
//}
//
//.latest_article-list-image img {
//  width: 80px;
//  height: 80px;
//}
//
//.latest_article-list dd {
//  padding: 3px 0;
//}
//
//.latest_article-list-text {
//  font-size: 1.4rem;
//}
//
//.latest_article-list-category {
//  width: auto;
//  margin: 0 auto 5px;
//}
//
//.latest_article-morebtn {
//  display: block;
//}
//
//.latest_article-morebtn a {
//  display: block;
//  padding: 10px;
//  text-align: center;
//  border: 1px solid #707070;
//  border-radius: 5px;
//  margin: 10px auto 0;
//  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
//}
///*============================================
//      トップページ sidemenu
//============================================*/
///*============================================
//      一覧ページ
//============================================*/
///*件数表示*/
//.article-result-count {
//  display: none;
//}
//
//.pagination-area {
//  background: #f0f0f0;
//  padding: 15px 10px 45px;
//}
//
//.pagination {
//  width: 100%;
//  float: none;
//  margin: 0 auto;
//}
//
//.pagination-inner {
//  position: relative;
//}
//
//.pagination-inner li:first-child {
//  position: absolute;
//  left: 0;
//}
//
//.pagination-inner li:last-child{
//  right: 0;
//  position: absolute;
//}
//
//.pagination-inner li:nth-child(n+2):nth-child(-n+6) {
//  display: none;
//}
//
//li.pagination-count-sp {
//  text-align: center;
//  display: inline-block;
//  vertical-align: middle;
//  position: absolute;
//  left: 33%;
//}
//
//.pagination-pagecount {
//  display: block;
//  font-size: 1.4rem;
//}
//
//.pagination-pagenumber_count {
//  display: block;
//  font-size: 1.2rem;
//}
//
//.article-casette-images {
//  width: 80px;
//}
//
//.article-casette-images img {
//  width: 80px;
//  height: 80px;
//}
//
//.article-casette-txtArea {
//  float: left;
//  width: calc(100% - 95px);
//}
//
//.article-casette-txtArea-text {
//  display: none;
//}
///*============================================
//      詳細ページ
//============================================*/
//.single-top-lead {
//  background: none;
//  border-bottom: none;
//  margin: 0 auto;
//  padding: 15px 10px;
//}
//
//.single-head {
//  float: none;
//  padding: 0 10px;
//}
//
//.single-date {
//  font-size: 3.5vw;
//}
//
//.single-snsArea {
//  float: right;
//}
//
//.single-snsArea li a {
//  font-size: 1.2vw;
//}
//
//.single-snsArea-twitter {
//  background-position: top 5px left 6px;
//}
//
//.single-snsArea-twitter a {
//  padding: 5px 10px 5px 25px;
//}
//
//.single-snsArea-facebook {
//  background-position: top 4px left 7px;
//}
//
//.single-snsArea-facebook a {
//  padding: 5px 5px 5px 25px;
//}
//
//.single-detail-mv {
//  margin: 0 auto 15px;
//}
//
//.single-detail-mv img {
//  width: 100%;
//  height: auto;
//}
//
//.single-detail-lead_text {
//  margin: 0 auto;
//  padding: 0 10px;
//}
//
//.single-toc {
//  width: calc(100% - 20px);
//  margin: 20px auto 40px;
//}
//
//.single-toc-inner {
//  border: 1px dashed #707070;
//}
//
//.single-toc-listArea dt {
//  float: none;
//  width: auto;
//  margin: 0 auto 15px;
//  text-align: center;
//  position: relative;
//}
//
//.single-toc-listArea dt span {
//  position: relative;
//  display: inline-block;
//  background: #efefef;
//  z-index: 2;
//  padding: 0 15px;
//}
//
//.single-toc-listArea dt::after {
//  position: absolute;
//  top: 50%;
//  z-index: 1;
//  content: '';
//  display: block;
//  height: 1px;
//  background-color: #0f0f0f;
//  left: 35%;
//  width: 30%;
//}
//
//.single-toc-list {
//  list-style: disc;
//  padding-left: 20px;
//}
//
//.single-toc-list li {
//  margin-top: 8px;
//}
//
//.single-title_h2 {
//  border-radius: 0;
//  margin: 0 auto 20px;
//  padding: 10px;
//}
//
//.single-title_h2::after {
//  display: none;
//}
//
//.single-title_h2 span {
//  padding: 5px 5px 5px 10px;
//  border-left: 6px solid #fff;
//}
//
//.single-txtArea-inner {
//  width: calc(100% - 20px);
//  padding: 0 10px;
//}
//
//.single-txtArea-images {
//  margin: 0 auto 15px;
//  width: 99%;
//  height: auto;
//}