/*--------------------------ボタン*/
.btn {
  cursor: pointer;
  &.-more,
  &.-close{
    //display: inline-block;
    border: solid 1px $c-darkgrey;
    border-radius: 30px;
    padding: 10px 0;
    width: 100%;
    background: $c-white;
    color: $c-textlink;
    font-size: 1.6rem;
    //font-weight:700;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
  }
  &.-search{
    //border-radius: 3px;
    height: 44px;
    width: 44px;
    background: $c-textlink url(#{$path-img}/search-icon.png) no-repeat center center;
    background-size: 22px;
    //border: $c-textlink;
    //box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
  }
  &.-goHome {
    //position: relative;
    //display: block;
    padding-left: 28px;
    font-size: 1.5rem;
    color: $c-text;
    text-decoration: none;
    //font-weight: 700;
    //&::before {
    //  content: "";
    //  display: block;
    //  position: absolute;
    //  top: 50%;
    //  left: 2px;
    //  background: url(#{$path-img}/aside-home-icon.png) no-repeat center center;
    //  width: 16px;
    //  height: 21px;
    //  transform: translateY(-50%);
    //}
  }
  &.-sns {
    //display: inline-block;
    //border-radius: 3px;
    width: 40px;
    //min-width: 24px;
    height: 34px;
    color: transparent;
    //text-decoration: none;
    //position: relative;
    //font-size: 1.2rem;
    //line-height: 1.2;

    white-space: nowrap;
    overflow: hidden;
    text-indent: -100%;
    &.-hatebu {
      padding: 0;
      background: #02a4de url(#{$path-img}/sns-hateb-icon.png) no-repeat center center;

    }
    &.-twitter{
      padding: 0;
      background: #1a95e0 url(#{$path-img}/sns-twitter-icon.png) no-repeat center center;
    }
    &.-facebook {
      padding: 0;
      background: #4167b2 url(#{$path-img}/sns-facebook-icon.png) no-repeat center center;
    }
  }
  &.-sp_header {
    display: block;
    overflow: hidden;
    width: 50px;
    height: 50px;
    padding: 8px;
    //margin-top: 0.5vh;
    position: fixed;
    top: 6px;
    right: 10px;
    z-index: 99;
    //float: right;
    border: 1px solid $c-darkgrey;
    border-radius: 3px;
    background: $c-white;
    div {
      position: relative;
    }
    span {
      display: block;
      height: 3px;
      background: $c-green;
      position: absolute;
      width: 100%;
      left: 0;
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 9px;
      }
      &:nth-child(3) {
        top: 18px;
      }
    }
    &::after {
      content: "もくじ";
      display: block;
      width: 100%;
      font-size: 1rem;
      text-align: center;
      position: absolute;
      bottom: 1px;
      left: 0;
    }

    /*開閉ボタンopen時*/
    &.is-show {
      span:nth-child(1) {
        top: 9px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      span:nth-child(2) {
        width: 0;
        left: 50%;
      }
      span:nth-child(3) {
        top: 9px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
      &::after {
        content: "閉じる";
      }
    }
  }
}
/*--------------------------フォーム*/
.form {
  &.-input{
    padding: 12px 10px;
    font-size: 1.6rem;
  }
}
/*--------------------------ラベル*/
.label {
  //display: inline-block;
  font-size: 1.2rem;
  font-weight: 700;
  //line-height: 1;
  //text-align: center;
  //vertical-align: middle;
  //text-decoration: none;
  & + &{
    margin-left: 2px;
  }
  &.-full{
    width: auto;
  }
  &.-cat{
    //border-radius: 10px;
    padding: 4px 10px;
    //color: $c-white;
    //&.-senior {background: $c-green;}
    //&.-home {background: $c-pink;}
    //&.-reform {background: $c-orange;}
    //&.-money {background: $c-blue;}
    //&.-event {background: $c-brown;}
    //&.-news {background: $c-charcoal;}
    ///*予備カテゴリ*/
    //.cat-sample01 {background: $c-red;}
    //.cat-sample02 {background: $c-purple;}
    //.cat-sample03 {background: $c-lightgreen;}
    //.cat-sample04 {background: $c-yellow;}
  }
  &.-tag, &.-pr {
    padding: 2px 6px;
    //background: $c-white;
    //font-weight: 700;
  }
  //&.-tag{
  //  border: 1px solid $c-pink;
  //  color: $c-pink;
  //}
  //&.-pr{
  //  border: 1px solid $c-darkgrey;
  //  color: $c-darkgrey;
  //}
}

/*--------------------------リスト*/
.list {
  &_item {
    & + & {
      padding-top: 10px;
    }
  }
}
/*--------------------------タイトル*/
.title {
  //line-height: 1.2;
  &.-page {
    font-size: 2.2rem;
    color: $c-green;
  }
  //&.-single {
  //  font-size: 2rem;
  //  //font-weight: 400;
  //  color: $c-text;
  //}
  &.-latest {
    //color: $c-pink;
    font-size: 2rem;
    letter-spacing: 2px;
    //font-weight: bold;
    &::before {
      display: none;
      //content: "︎";
      //transform: scale(0.8);
    }
  }
  //
  &.-chapter {
    padding: 12px 10px 12px 30px;
    border-radius: 0;
    //background: $c-green;
    //color: $c-white;
    //position: relative;
    font-size: 2rem;
    //font-weight: 400;
    line-height: 1.2;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    &::before {
      //content: '';
      //display: block;
      //position: absolute;
      //top: 50%;
      left: 10px;
      border-top: none;
      width: 8px;
      height: calc(100% - 20px);
      background: $c-white;
      transform: translateY(-50%);
      //z-index: 1;
    }
    span {
      padding: 0;
      background: none;
    }
  }
  &.-section {
    padding-bottom: 6px;
    font-size: 1.6rem;
    line-height: 1.4;
    //border-bottom: 2px solid $c-green;
  }

  &.-recommend{
    //border-left: none;
    //padding: 0;
    //background: $c-white;
    //font-size: 2rem;
    //letter-spacing: 2px;
    //text-align: center;
  }
  &.-sideMain {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid $c-darkgrey;
    width: 100%;
    height: 62px;
    background: $c-white;
    font-size: 1.8rem;
    color: $c-charcoal;
    span {
      padding: 0;
      background: transparent;
    }
    &::before {
      display: none;
    }
  }
  //&.-sideSub {
  //  padding: 5px 0;
  //  background: $c-grey;
  //  font-size: 1.5rem;
  //  font-weight: 700;
  //  color: $c-charcoal;
  //  text-align: center;
  //}
}
/*--------------------------パンくずリスト*/
.breadcrumb {
  padding: 12px 10px;
  background: $bg-grey;
  li {
    font-size: 1.4rem;
    line-height: 1.2;
    & + li::before {
      content: ">";
      display: inline-block;
      margin: 0 5px;
    }
  }
}
/*-------------------------リード文*/
.intro {
  //margin-bottom: 20px;
  //padding: 15px 10px;
  //border-top: 2px solid $c-green;
  //border-bottom: 2px solid $c-green;
  //background: $bg-yellow;
  &_text {
    margin-top: 10px;
  }
  //&_label {
  //  margin-bottom: 10px;
  //}
  //OPT::リード文内リンク
  &_link {
    display: block;
    padding: 10px;
    margin-top: 10px;
    &_item {
      //flex: 0 1 25%;
      margin-bottom: 0;
      border-right: none;
      padding: 6px 5px;
      //&:nth-child(4n) {
      //  border-right: none;
      //}
    }
    a {
      //display: block;
      font-size: 1.5rem;
      //line-height: 1.2;
      //font-weight: 700;
      &::before{
        //display: inline-block;
        //content: "▶︎";
        //margin-right: 2px;
        ////font-size: 0.6rem;
        //transform: scale(0.6);
        //color: $c-pink;
        //text-decoration: none;
      }
    }
  }
  &.-single {
    //margin-bottom: 0;
    border-bottom: none;
    background: $c-white;
  }
}


/*--------------------------一覧カセット*/
.cassette {
  //box-sizing: border-box;
  display: flex;
  align-items: center;
  //height: 100%;
  padding: 5px 0;
  //&:hover {
  //  opacity: 0.8;
  //}
  //&_img{
  //  flex: 0 0 80px;
  //  img {
  //    width: 80px;
  //    height: 80px;
  //    border: 1px solid $c-grey;
  //  }
  //}
  &_detail{
    //flex: 1 1 auto;
    padding: 0 10px;
  }
  &_title{
    //margin-top: 0;
    font-size: 1.4rem;
    line-height: 1.3;
    //font-weight: 700;
    color: $c-text;
    text-decoration: none;
    //&:hover {
    //  text-decoration: none;
    //}
  }
  //&_text{
  //  margin-top: 4px;
  //  font-size: 1.4rem;
  //  color: $c-text;
  //}
  //&_label{
  //  text-decoration: none;
  //}
  //OPT::広告記事カセット
  //&.is-pr {
  //  background: $bg-yellow;
  //}
  ////OPT::縦並びカセット
  &.-vertical{
    display: flex;
    .cassette_img{
      img {
        width: 80px;
        height: 80px;
      }
    }
    .cassette_detail{
      padding: 0 10px;
    }
    .cassette_label{
      margin-top: 0;
    }
    .cassette_title{
      font-size: inherit;
    }
  }
  //OPT::一覧ページ系
  &.-archive {
    align-items: center;
    .cassette_img{
      flex: 0 0 80px;
      img {
        width: 80px;
        height: 80px;
      }
    }
    .cassette_label{
      margin-top: 0;
    }
    .cassette_text{
      display: none;
    }
    .cassette_title{
      font-size: 1.5rem;
    }
  }
  ////OPT::サイドメニュー最新記事
  //&.-side {
  //  align-items: center;
  //  padding: 0;
  //  .cassette_img{
  //    flex: 0 0 64px;
  //    img {
  //      width: 64px;
  //      height: 64px;
  //    }
  //  }
  //  .cassette_title{
  //    padding-left: 10px;
  //    font-size: 1.3rem;
  //  }
  //}
}
