/*============================================
      トップページ
============================================*/
.introGuideline {
  position: relative;
  margin: 20px 10px 0;
  border: solid 2px $c-brown;
  border-radius: 8px;
  &_title {
    padding: 85px 15px 25px;
    &::before {
      left: 10px;
      top: 36%;
      width: 25%;
    }
    &::after {
      content: none;
    }
  }
  &_subTitle {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin-top: 0;
    border-radius: 0;
    padding: 10px 0;
    width: 100%;
    background: url("#{$path-img}/guideline/subTitle_bg-sp.svg") no-repeat center bottom;
    background-size: cover;
    font-size: 1.4rem;
    line-height: 1.4;
  }
  &_body {
    padding: 20px 15px;
  }
  &_problem {
    padding-right: 30%;
    padding-bottom: 65px;
    height: auto;
    background: url("#{$path-img}/guideline/title_illust.png") no-repeat top 30px right;
    background-size: 30% auto;
    &::after {
      bottom: 0;
      left: 50%;
      right: auto;
      transform: translateX(-50%) rotate(-25deg);
      z-index: -1;
    }
  }
  &_purpose {
    padding: 5px 0 0;
    &_list {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px 10px 0;
      width: 100%;
      height: auto;
    }
    &_item {
      position: static;
      flex: 0 0 45%;
      padding-top: 45%;
      padding-bottom: 20px;
      width: auto;
      font-size: 1.5rem;
    }
  }
  &_articles {
    border-radius: 4px;
    margin-top: 15px;
    padding: 15px;
    background: $bg-grey;
    &_title {
      text-align: center;
    }
    &_body {
      padding-left: 0;
    }
  }
}


.listInfo {
  position: relative;
  display: block;
  //align-items: center;
  //justify-content: space-between;
  background: $bg-grey;
  padding: 10px;
  &_count{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    font-size: 1.2rem;

  }
  &_func{}
}
.pagination {
  //display: block;
  align-items: flex-start;
  justify-content: space-between;
  //> li:not(&_func) {
  //  flex: 1 1 auto;
  //}
  &_func{
  }
  &_num {
    //display: flex;
    //align-items: center;
    //padding: 0 8px;
    //li + li {
    //  padding-left: 5px;
    //}
    li {
      display: none;
    }
  }
  //ボタンスタイリング
  .pagination_num li {
    display: none;
    a, span {
      display: inline-block;
      border: none;
      border-radius: 0;
      padding: 0;
      background: none;
      color: $c-text;
      font-weight: 700;
      text-align: center;
      text-decoration: none;
      box-shadow: none;
    }
    &:last-child,
    &.is-active {
      display: block;
      a, span {
        border-color: $c-green;
        background: transparent;
        color: $c-text;
        &:after {
          content: "ぺージ";
          font-size: 0.9em;
        }
      }
    }
  }
  li {
    a, span {
    //  display: inline-block;
    //  border: 2px solid $c-textlink;
    //  border-radius: 2px;
    //  padding: 10px 10px;
    //  background: $c-white;
    //  color: $c-textlink;
    //  font-weight: 700;
    //  text-align: center;
    //  text-decoration: none;
    //  box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    }
    &.is-active,
    &.is-disabled{
      a, span {
        //pointer-events: none;
        //cursor: default;
        //box-shadow: none;
      }
    }
    //&.is-active {
    //  a, span {
    //    border-color: $c-green;
    //    background: $c-green;
    //    color: $c-white;
    //  }
    //}
    //&.is-disabled {
    //  a, span {
    //    border-color: $c-darkgrey;
    //    background: $c-darkgrey;
    //    color: $c-white;
    //  }
    //}
  }
}
/*============================================
      詳細ページ(.single-)
============================================*/
.single-info {
  display: block;
  margin: 0;
  padding: 0 10px;
  &_date {
    width: 100%;
    margin-right: 0;
  }
  &_sns {
    margin-top: 10px;
    width: 100%;
    text-align: right;
  }
}

.single-reading {
  margin-top: 20px;
  &_img {
    border: none;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    img {
      object-fit: cover;
      width: 100%;
      max-height: 300px;
      font-family: 'object-fit: cover;';
    }
  }
  &_text {
    //margin-top: 10px;
    padding: 0 10px;
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

.single-toc {
  display: block;
  //border-top: 1px dashed $c-charcoal;
  //border-bottom: 1px dashed $c-charcoal;
  //margin-top: 20px;
  margin: 20px 10px 0;
  padding: 10px;
  //background: $bg-grey;
  //font-weight: 700;
  &_title{
    &::before,&::after {
      display: inline-block;
      content: "ー";
      margin: 0 10px;
      font-weight: 400;
    }
    //flex: 0 1 120px;
    //font-size: 1.4rem;
    //text-align: center;
    //letter-spacing: 1rem;
  }
  &_data{
    //margin-top: 5px;
    //flex: 1 1 auto;
  }
  &_list{
    margin-top: 5px;
    font-size: 1.5rem;
    li {
      display: flex;
      padding: 4px 0;
      & + li {
        margin-top: 0;
      }
    }
  }
}
.single-cont{
  margin-top: 50px;
  & + & {
    margin-top: 40px;
  }
  &_section {
    margin-top: 20px;
    padding: 0 10px;
      //& + & {
      //margin-top: 30px;
    //}
  }
  &_title{}
  &_text{
    //margin-top: 15px;
    //overflow: hidden;
    font-size: 1.6rem;
    line-height: 1.6;
  }
  &_img {
    float: none;
    margin-left: 0;
    margin-bottom: 10px;
    img {
      max-width: 100%;
      max-height: 400px;
    }
    &.-full {
      margin-bottom: 10px;
      img {
        max-height: 400px;
      }
    }
  }
  &_section:nth-child(2n) {
    .single-cont_img {
      float: left;
      margin-left: 0;
      margin-right: 10px;
      &.-full {
        float: none;
        margin: 0 auto 15px;
      }
    }
  }
  &_section:nth-child(2n) {
    .single-cont_img {
      float: none;
      //margin-left: 0;
      margin-right: 0;
    }
  }
}

.single-catLinks {
  display: block;
  margin-top: 10px;
  &_item {
    margin-bottom: 0;
    margin-right: 0;
    padding: 6px 5px;
  }
  &_link {
    font-size: 1.5rem;
  }
}
