

/*--------------------------検索窓*/
.searchForm{
  //display: flex;
  li {
    flex: 1 1 auto;
    //& + li {
    //  padding-left: 5px;
    //}
    &:last-child {
      flex: 0 1 auto;

    }
  }
}
/*--------------------------サイドカテゴリリンク*/
.sideNav {
  &_item {
    padding-bottom: 14px;
    & + li {
      //border-top: 1px solid #e3e3e3;
      padding-top: 14px;
    }
    a{
      //position: relative;
      //display: block;
      //padding-left: 24px;
      font-size: 1.5rem;
      color: $c-text;
      text-decoration: none;
      //font-weight: 700;
      //&::before {
      //  content: "";
      //  display: block;
      //  position: absolute;
      //  top: 50%;
      //  left: 4px;
      //  width: 12px;
      //  height: 12px;
      //  background: $c-grey;
      //  transform: translateY(-50%);
      //}
    }
    //&.-senior a::before {background: $c-green;}
    //&.-home a::before {background: $c-pink;}
    //&.-reform a::before {background: $c-orange;}
    //&.-money a::before {background: $c-blue;}
    //&.-event a::before {background: $c-brown;}
    //&.-news a::before {background: $c-charcoal;}
  }
  &.-other {
    padding-bottom: 0;
    .sideNav_item {
      padding-bottom: 12px;
      & + li {
        //border-top: 1px solid #e3e3e3;
        padding-top: 12px;
      }
      a{
        //position: relative;
        //display: block;
        padding-left: 0;
        //font-size: 1.5rem;
        //color: $c-text;
        //text-decoration: none;
        font-weight: 400;
        &::before {
          display: none;
        }
      }
    }
  }
}


//.side-menu-title-sp {
//  display: block;
//  text-align: center;
//  position: relative;
//  top: -25px;
//  font-size: 1.8rem;
//  color: #d83e90;
//  font-weight: bold;
//  height: auto;
//  vertical-align: middle;
//}
//
//.aside-maintitle {
//  display: none;
//}
//
//.aside-link-home {
//  width: calc(100% - 40px);
//  margin: 0 auto 15px;
//  border-top: 1px solid #E2E2E2;
//  border-bottom: 1px solid #E2E2E2;
//  position: relative;
//  padding: 10px;
//}
//
//.aside-link-home::after {
//  content: "▶︎";
//  color: #C3C3C3;
//  display: block;
//  position: absolute;
//  top: 35%;
//  font-size: 0.8rem;
//  right: 0;
//}
//
//.aside-link-home a {
//  color: #000!important;
//  text-decoration: none;
//}
//
//.aside-search-inner {
//  padding: 10px;
//}
//
//.aside-search-inner dt {
//  width: calc(100% - 60px);
//}
//
//input.aside-search-input {
//  width: 100%;
//}
//
//.aside-category-list ul {
//  padding: 5px 10px 10px;
//}
//
//.aside-category-list li::after {
//  content: "▶︎";
//  color: #C3C3C3;
//  display: block;
//  position: absolute;
//  top: 30%;
//  font-size: 0.8rem;
//  right: 0;
//}
//
//.aside-category-list li a {
//  color: #000;
//  text-decoration: none;
//  font-size: 100%;
//}
//
//.aside-latest_article {
//  display: none;
//}
//
//.aside-latest_article-images {
//  float: left;
//  margin: 0 15px 0 0;
//  width: 80px;
//}
//
//.aside-latest_article-images img {
//  width: 80px;
//  height: 80px;
//}
//
//.aside-latest_article-text {
//  float: left;
//  width: calc(100% - 95px);
//  padding: 3px 0;
//}
//
//.aside-latest_article-inner {
//  padding: 10px;
//}
//
//.aside-other_article {
//  display: block;
//}
//
//.aside-other_article-list {
//  padding: 5px 10px 10px;
//}
//
//.aside-other_article-list li {
//  vertical-align: middle;
//  border-bottom: 1px solid #e3e3e3;
//  position: relative;
//}
//
//.aside-other_article-list li::after {
//  content: "▶︎";
//  color: #C3C3C3;
//  display: block;
//  position: absolute;
//  top: 30%;
//  font-size: 0.8rem;
//  right: 0;
//}
//
//.aside-other_article-list li a {
//  padding: 10px 5px;
//  position: relative;
//  display: block;
//  color: #000;
//  text-decoration: none;
//}
//
//.aside-other_article-list li a.active {
//  background: #FFFCEA;
//}
//
//.side-closebtn-sp {
//  display: block;
//  width: calc(100% - 20px);
//  padding: 0 10px;
//  margin: 15px auto 0;
//}
//
//.side-closebtn-sp a {
//  display: block;
//  padding: 10px;
//  text-align: center;
//  border: 1px solid #707070;
//  border-radius: 5px;
//  margin: 10px auto 0;
//  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.25);
//}